body {
  color: tomato;
  background-color: tomato;
}

.intersection {
  background-color: lawngreen;
  width: 10px;
  height: 10px;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}
